ErrorDocument 404 http://localhost/PisciculturaProject/error404

Options -Indexes
ErrorDocument 403 http://localhost/PisciculturaProject/error403

ErrorDocument 401 http://localhost/PisciculturaProject/error401

ErrorDocument 500 http://localhost/PisciculturaProject/error500




RewriteEngine On

# INDEX
RewriteRule ^home/?$ index.php





# LOGIN
RewriteRule ^login/?$ view/Autenticacion/Login/index.php

# LOGOUT
RewriteRule ^logout/?$ view/Autenticacion/Logout/logout.php





# RESET PASSWORD
RewriteRule ^reset-password/?$ view/Autenticacion/ResetPassword/index.php

# CODIGO REST PASSWORD
RewriteRule ^cod-reset/?$ view/Autenticacion/CodigoRestPassword/index.php

# NUEVA CONTRASEÑA
RewriteRule ^new-password/?$ view/Autenticacion/NewPassword/index.php

# NUEVO USUARIO
RewriteRule ^new-user/?$ view/Autenticacion/NuevoUsuario/index.php





# HOME
RewriteRule ^inicio/?$ view/Home/index.php

# NUEVO CULTIVO
RewriteRule ^nuevo-cultivo/?$ view/NuevoCultivo/index.php

# CONSULTAR CULTIVO
RewriteRule ^consultar-cultivo/?$ view/ConsultarCultivo/index.php

# NUEVO CHAT
RewriteRule ^crear-chat/?$ view/NuevoChat/index.php

# CONSULTAR CHATS
RewriteRule ^consultar-chat/?$ view/ConsultarChat/index.php

# DETALLE CHAT
RewriteRule ^detalle-chat/?$ view/DetalleChat/index.php

# USUARIOS
RewriteRule ^usuarios/?$ view/Usuario/index.php

# PERFIL
RewriteRule ^perfil/?$ view/Perfil/index.php

# NOVEDADES Y MORTALIDAD
RewriteRule ^novedades-mortalidad/?$ view/NovedadesMortalidad/index.php




# ERROR 401
RewriteRule ^error401/?$ view/Autenticacion/Error/401.php

# ERROR 403
RewriteRule ^error403/?$ view/Autenticacion/Error/403.php

# ERROR 404
RewriteRule ^error404/?$ view/Autenticacion/Error/404.php

# ERROR 500
RewriteRule ^error500/?$ view/Autenticacion/Error/500.php



#MARIANA----------------------------------------------------------------------------------------------------------

# CONSULTAR FORMATOS
RewriteRule ^consultar-formatos/?$ view/ConsultarFormatos/index.php

# BIOCRECIMIENTO
RewriteRule ^biocrecimiento/?$ view/MntBiocrecimiento/index.php

# GESTIONAR PRODUCTOS
RewriteRule ^producto/?$ view/MntProducto/index.php

# GESTIONAR PRODUCTOS
RewriteRule ^proveedor/?$ view/MntProveedor/index.php

# TABLA ALIMENTACION
RewriteRule ^tbl-alimentacion/?$ view/MntTblAlimentacion/index.php

# GESTIONAR ESTANQUES Y RESPONSABLES
RewriteRule ^estanq-respon/?$ view/Estanques-Responsables/index.php

