*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
}

section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #161616;
}

section::before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 525px;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
}

section video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.15;
    pointer-events: none;
}

section .circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5fc8fcc7;
    clip-path: circle(50% at right -5%);
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo
{
    position: relative;
    max-width: 200px;
}

header .navigation
{
    position: relative;
    display: flex;
}

header .navigation li
{
    list-style: none;
}

header .navigation li a
{
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    font-size: 18px;
    transition: 0.2s ease-in-out;
}

header .navigation li a:hover
{
    opacity: .75;
    transform: translateY(-5px);
}


.content
{
    position: relative;
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox
{
    position: relative;
    max-width: 50%;
    margin-right: 20px;
}

.content .textBox h2
{
    color: #fff;
    font-size: 4em;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 700;
}

.content .textBox p
{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.content .textBox a
{
    display: inline-block;
    margin-top: 20px;
    padding: 11px 34px;
    background: #5fc8fc;
    color: #ffffff;
    border-radius: 3px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.content .textBox a:hover
{
    opacity: .85;
    transform: translateX(8px);
}


.sci
{
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li
{
    list-style: none;
}

.sci li a
{
    display: inline-block;
    margin-left: 15px;
    background: #222;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    transition: 0.2s ease-in-out;
}

.sci li a:hover
{
    background: #5fc8fc;
    transform: translateY(-10px);
}

.sci li a img
{
    filter: invert(1);
    transform: scale(0.5);
}


/* SLIDER */

.swiper-container
{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide
{
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
}

.content .imgBox
{
    width: 650px;
    display: flex;
    justify-content: flex-end;
}

.content .imgBox img
{
    max-width: 400px;
}

.swiper-slide img
{
    position: absolute;
    bottom: 0;
    max-height: 100%;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right
{
    background-image: none;
}



@media (max-width: 1480px)
{
    header
    {
        padding: 40px;
    }

    section
    {
        padding: 150px 40px;
    }

    section::before
    {
        display: none;
    }

    .sci
    {
        left: 40px;
    }

    .content
    {
        margin-left: 0px;
        margin-right: 0px;
        flex-direction: column;
    }

    .content .textBox,
    .content .imgBox
    {
        max-width: 95%;
    }

    .swiper-slide
    {
        height: 300px;
    }

    header .navigation
    {
        display: none;
    }

    header .navigation.active
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #00a8ff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    header .navigation li a
    {
        margin: 10px 0;
        font-size: 1.5em;
        font-weight: 300;
    }

    /* .toggle
    {
        position: relative;
        width: 30px;
        height: 30px;
        background: url(../img/home/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 10000;
    }

    .toggle.active
    {
        position: fixed;
        right: 40px;
        background: url(../img/home/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    } */

    .sci li a
    {
        margin-top: -100px;
        margin-bottom: -100px;
    }
}
